
{%extends 'base1.html'%}
{%block body_block%}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"style="color:white" >
            <h1>jobs posted by {{request.user}}</h1>
            <table class="table">

                {%for job in jobs%}
                <div class="border border-dark mb-2 mt-2">

                    jobtitle:{{job.job_title}}
                    exp:{{job.experience}}
                    create_date:{{job.created_date}}

                    <a href="{%url 'emp-jobdetail' job.id%}" class="btn btn-outline-danger">details</a>
                    <a href="{%url 'view_applic' job.id %}" class="btn btn-outline-success">View_applications</a>
<!--                    <a href="{%url 'job-edit' job.id %}" class="btn btn-outline-info">edit</a>-->


                </div>
                {%endfor%}
        </div>
        <div class="col-4"></div>
    </div>
</div>
{%endblock%}