{%extends 'base1.html'%}
 {%block body_block%}

<div class="row">
    <div class="col-4"></div>
    <div class="col-6 mt-4 mb-2">
        <h1 class="h">WELCOME EMPLOYER {{request.user}} </h1>
<!--{%if request.user.employers%}-->
<!--     <a href="{%url 'emp-detail' %}">view profile</a>-->
<!--{%else%}-->
<!--    <a href="{%url 'emp-profile' %}">Add-Profile</a>-->
<!--{%endif%}-->
<!--<a href="{%url 'emp-addjob'%}">post-job</a>-->
<!--<a href="{%url 'emp-listjob'%}">posted jobs</a>-->

<!--<div class="row">-->
<!--        <div class="col-4"></div>-->
<!--        <div class="col-4">-->

<!--        </div>-->
<!--        <div class="col-4"></div>-->
<!-- </div>-->

<!--    </div>-->
<!--    <div class="col-4"></div>-->
<!--</div>-->
{%endblock%}