{%extends 'base1.html'%}
{%block body_block%}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 ">
            <h1 style="color:white;">create candidate profile</h1>
            <form style="color:white;" action=""method="post" enctype="multipart/form-data">
                {%csrf_token%}
                {{form.as_p}}
                <input type="submit" value="register">
            </form>
        </div>
        <div class="col-4"></div>

    </div>
{%endblock%}