{%extends 'base1.html'%}
{%block body_block%}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
<div class="card" style="width: 18rem color:white;">
  <img src="{{request.user.candidates.profile_pic.url}}" style="width:80px; height:80px" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{request.user.candidates.user}}</h5>
    <p class="card-text"></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><i>qualification:</i>{{request.user.candidates.qualification}}</li>
    <li class="list-group-item"><i>age:</i>{{request.user.candidates.age}}</li>
    <li class="list-group-item"><i>skills:</i>{{request.user.candidates.skills}}</li>
      <li class="list-group-item"><i>cv:</i>{{request.user.candidates.cv}}</li>
  </ul>
    <div>
        <a href="{%url 'c-update' request.user.candidates.id%}" class="btn btn-warning">Edit</a>

    </div>



</div>



        </div>
        <div class="col-4"></div>
    </div>
</div>
{%endblock%}