
{%extends 'base1.html'%}
{%block body_block%}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <h1 style="color:white;">welcome candidate {{request.user}}</h1>
<!--            {%if request.user.candidates%}-->
<!--                <a href="{%url 'cand-detail'%}">view profile</a>-->
<!--            {%else%}-->
<!--                <a href="{%url 'cand-addprofile'%}">addprofile</a>-->
<!--            {%endif%}-->
<!--            <a href="{%url 'cand-joblist'%}">alljobs</a>-->
<!--            <a href="{%url 'my_applied'%}">applied-joblist</a>-->
<!--            <a href="{%url 'accp-jobs'%}">notification</a>-->


<!--    </div>-->
<!--    <div class="col-4"></div>-->
<!--</div>-->

<!--<div class="row">-->
<!--    <div class="col-4"></div>-->
<!--    <div class="col-4">-->
<!--        <form action="" method="get">-->
<!--            {{filter.form.as_p}}-->
<!--            <input type="submit">-->
<!--        </form>-->
<!--    </div>-->
<!--    <div class="col-4"></div>-->
<!--</div>-->
{%endblock%}